:root {
    --col-width: calc(100% / 12);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fefefe;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 50px auto;
}
.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-header {
    text-align: center;
    padding: 50px 10px;
    background: #000;
    color: #fff;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}


/* RWD GRID  */
.row {

    margin-left:  15px;
    margin-right: 15px;
}


.col {
    float: left;
    width: calc(100% / 12);
}
.col-1 {
    float: left;
    width: calc(var(--col-width));
}
.col-3 {
    float: left;
    width: calc(var(--col-width) * 3)
}
.col-4 {
    float: left;
    width: calc(var(--col-width) * 4)
}
.col-5 {
    float: left;
    width: calc(var(--col-width) * 5);
}
.col-6 {
    float: left;
    width: calc(var(--col-width) * 6)
}
.col-7 {
    float: left;
    width: calc(var(--col-width) * 7)
}
.col-8 {
    float: left;
    width: calc(var(--col-width) * 8)
}
.col-9 {
    float: left;
    width: calc(var(--col-width) * 9)
}
.col-10 {
    float: left;
    width: calc(var(--col-width) * 10)
}
.col-11 {
    float: left;
    width: calc(var(--col-width) * 11)
}
.col-12 {
    float: left;
    width: 100%
}


@media only screen and (max-width: 1900px) {
    .col-2 {
        float: left;
        width: calc(var(--col-width) * 2)
    }
}

@media only screen and (min-width:500px  ) and (max-width: 1000px) {
    .col-md-4 {
        float: left;
        width: calc(var(--col-width) * 4)
    }
}

@media only screen and (max-width: 500px) {
    .col-sm-12 {
        float: left;
        width: 100%
    }
}






